body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
}
nav {
    background-color: black; 
    color: white;
    padding: 10px;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
nav a:hover {
    background-color: black; 
}
h2,h3{
    margin-top: 5px;
    text-align: center;
}
.main-layout {
    width: 1200px; 
    margin: 0 auto; 
}
.profile{
    float: left; 
    width: 380px; 
    height: 250px; 
    margin: 10px; 
    border: 2px solid lightgrey; 
    padding: 20px; 
    background-color:whitesmoke;
    border-radius: 10px; 
    box-sizing: border-box; 
}
.skills{
    float: left; 
    width: 780px; 
    height: 250px; 
    margin: 10px; 
    border: 2px solid lightgrey; 
    padding: 20px; 
    background-color:whitesmoke;
    border-radius: 10px; 
    box-sizing: border-box; 
}
.education, .experience, .certification, .blogs, .contact, .social {
    float: left; 
    width: 580px; 
    height: 250px; 
    margin: 10px; 
    border: 2px solid lightgrey; 
    padding: 20px; 
    background-color:whitesmoke;
    border-radius: 10px; 
    box-sizing: border-box; 
}
.projects-container {
    overflow: auto;
}
.project  {
    width: 380px; 
    height: 220px; 
    float: left; 
    margin: 10px;
    border: 2px solid lightgrey; 
    padding: 10px; 
    background-color: whitesmoke; 
    border-radius: 10px; 
    box-sizing: border-box; 
}
.projects h2{
    margin: 0;
}
.section-image {
    text-align:center;
    float: inline-start;
    width: 55px; 
    height: 55px;
    border-radius: 10px;
}

/* Social Links */
.social a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
    font-weight: bold;
}
















